.App {
  text-align: center;
}
.home__logo a {
  text-decoration: none;
}
.all__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.product {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
}
.product:hover {
  transform: translateY(-20px);
}
.product a {
  text-decoration: none;
}
.product img {
  width: 20rem;
  height: 20rem;
}
.product hr {
  width: 100%;
  height: 2px;
  color: #000;
}
.content {
  display: flex;
  flex-direction: column;
}
.product h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-top: 1.5rem;
}
.product p {
  font-size: 20px;
  color: #ccc;
}
.product span {
  color: #ccc;
  font-size: 20px;
}
.margin_top_style {
  margin-top: 60px !important;
}
.page_not_found {
  width: 100vw ;
  height: 90vh ;
  background: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(208, 75, 75);
}

